#Best {
  padding: 3em;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;

    .secTitle {
      align-self: flex-start;
    }

    .grid {
      display: grid;
      place-items: center center;
      grid-template-areas: "grid1 grid2 grid3 grid4";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1em;

      #Product {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        color: black;

        .imgBox {
          width: 100%;
        }

        .title {
          font-size: 20px;
        }

        .price {
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  #Best {
    padding: 3em;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3em;

      .secTitle {
        align-self: flex-start;
      }

      .grid {
        display: grid;
        place-items: center center;
        grid-template-areas:
          "grid1 grid2"
          "grid3 grid4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;

        #Product {
          width: 270px;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1em;
          color: black;

          .imgBox {
            width: 100%;
          }

          .title {
            font-size: 20px;
          }

          .price {
            font-style: italic;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
    #Best {
      padding: 3em;
  
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3em;
  
        .secTitle {
          align-self: flex-start;
        }
  
        .grid {
          display: grid;
          place-items: center center;
          grid-template-areas:
            "grid1"
            "grid2"
            "grid3"
            "grid4";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          gap: 1em;
  
          #Product {
            width: 270px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1em;
            color: black;
  
            .imgBox {
              width: 100%;
            }
  
            .title {
              font-size: 20px;
            }
  
            .price {
              font-style: italic;
            }
          }
        }
      }
    }
  }
